*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    gap: 1.5vmin;
    margin: 0 auto; /* Add margin auto to horizontally center the container */
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.5);
    font-size: 8vmin;
    color: blueviolet;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: rgb(81, 50, 205);
    height: 10vmin;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}
